body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}


header {
    background-color: aqua;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.titel {
    color: red;
    font-size: 2em;
    margin: 0;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.footer-text {
    margin: 0;
    font-size: 0.9em;
}


table {
    border-collapse: collapse;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

td {
    border: 1px solid #000;
    width: 25%;
    height: 25%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
}


.word {
    padding: 4px 6px;
    border-radius: 6px;
    display: inline-block;
    font-weight: bold;
    color: white;
    background-color: #333;  
}

#cell1  { background-color: #d61847d7; }
#cell5  { background-color: #438a4d; }
#cell9  { background-color: #ffe119; }
#cell13 { background-color: #4363d8; }
#cell3  { background-color: #f58231; }
#cell7  { background-color: #911eb4; }
#cell11 { background-color: #46f0f0; }
#cell15 { background-color: #f032e6; }


#cell1 .word { background-color: #ffcc00; }
#cell5 .word { background-color: #ff6600; }
#cell9 .word { background-color: #3399ff; }
#cell13 .word { background-color: #ff33cc; }
#cell3 .word { background-color: #cc33ff; }
#cell7 .word { background-color: #66ff33; }
#cell11 .word { background-color: #ff6666; }
#cell15 .word { background-color: #ff3399; }


#cell2  { background-color: lightblue; }
#cell4  { background-color: lavender; }
#cell6  { background-color: peachpuff; }
#cell8  { background-color: lightgreen; }
#cell10 { background-color: mistyrose; }
#cell12 { background-color: lightskyblue; }
#cell14 { background-color: bisque; }
#cell16 { background-color: lightyellow; }

.foto {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    margin: 5px;
    opacity: 0.9;
}